@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
            </p>
        </div>
    </section>
}

<!-- 2016-06-10 21:00:00	Stade de France	France	3	Roumanie	0 -->
<ol class="round">
<li class="match"><Date>2016-06-10 21:00:00</Date><Lieu>Stade de France</Lieu><Team>France</Team><Score>3</Score> - <Score>0</Score><Team>Roumanie</Team></li>
<li class="match"><Date>2016-06-11 15:00:00</Date><Lieu>Stade Bollaert-Delelis</Lieu><Team>Albanie</Team><Score>4</Score> - <Score>0</Score><Team>Suisse</Team></li>
<li class="match"><Date>2016-06-11 18:00:00</Date><Lieu>Stade de Bordeaux</Lieu><Team>Pays de Galles</Team><Score>1</Score> - <Score>4</Score><Team>Slovaquie</Team></li>
<li class="match"><Date>2016-06-11 21:00:00</Date><Lieu>Stade Vélodrome</Lieu><Team>Angleterre</Team><Score>2</Score> - <Score>2</Score><Team>Russie</Team></li>
<li class="match"><Date>2016-06-12 15:00:00</Date><Lieu>Parc des Princes</Lieu><Team>Turquie</Team><Score>1</Score> - <Score>0</Score><Team>Croatie</Team></li>
<li class="match"><Date>2016-06-12 18:00:00</Date><Lieu>Stade de Nice</Lieu><Team>Pologne</Team><Score>0</Score> - <Score>4</Score><Team>Irlande du Nord</Team></li>
<li class="match"><Date>2016-06-12 21:00:00</Date><Lieu>Stade Pierre Mauroy</Lieu><Team>Allemagne</Team><Score>3</Score> - <Score>4</Score><Team>Ukraine</Team></li>
<li class="match"><Date>2016-06-13 15:00:00</Date><Lieu>Stadium de Toulouse</Lieu><Team>Espagne</Team><Score>4</Score> - <Score>1</Score><Team>République Tchèque</Team></li>
<li class="match"><Date>2016-06-13 18:00:00</Date><Lieu>Stade de France</Lieu><Team>Irlande</Team><Score>4</Score> - <Score>3</Score><Team>Suède</Team></li>
<li class="match"><Date>2016-06-13 21:00:00</Date><Lieu>Stade de Lyon</Lieu><Team>Belgique</Team><Score>4</Score> - <Score>4</Score><Team>Italie</Team></li>
<li class="match"><Date>2016-06-14 18:00:00</Date><Lieu>Stade de Bordeaux</Lieu><Team>Autriche</Team><Score>4</Score> - <Score>4</Score><Team>Hongrie</Team></li>
<li class="match"><Date>2016-06-14 21:00:00</Date><Lieu>Stade Geoffroy Guichard</Lieu><Team>Portugal</Team><Score>0</Score> - <Score>3</Score><Team>Islande</Team></li>
<li class="match"><Date>2016-06-15 15:00:00</Date><Lieu>Stade Pierre Mauroy</Lieu><Team>Russie</Team><Score>1</Score> - <Score>4</Score><Team>Slovaquie</Team></li>
<li class="match"><Date>2016-06-15 18:00:00</Date><Lieu>Parc des Princes</Lieu><Team>Roumanie</Team><Score>2</Score> - <Score>2</Score><Team>Suisse</Team></li>
<li class="match"><Date>2016-06-15 21:00:00</Date><Lieu>Stade Vélodrome</Lieu><Team>France</Team><Score>2</Score> - <Score>0</Score><Team>Albanie</Team></li>
<li class="match"><Date>2016-06-16 15:00:00</Date><Lieu>Stade Bollaert-Delelis</Lieu><Team>Angleterre</Team><Score>2</Score> - <Score>0</Score><Team>Pays de Galles</Team></li>
<li class="match"><Date>2016-06-16 18:00:00</Date><Lieu>Stade de Lyon</Lieu><Team>Ukraine</Team><Score>4</Score> - <Score>2</Score><Team>Irlande du Nord</Team></li>
<li class="match"><Date>2016-06-16 21:00:00</Date><Lieu>Stade de France</Lieu><Team>Allemagne</Team><Score>2</Score> - <Score>0</Score><Team>Pologne</Team></li>
<li class="match"><Date>2016-06-17 15:00:00</Date><Lieu>Stadium de Toulouse</Lieu><Team>Italie</Team><Score>3</Score> - <Score>3</Score><Team>Suède</Team></li>
<li class="match"><Date>2016-06-17 18:00:00</Date><Lieu>Stade Geoffroy Guichard</Lieu><Team>République Tchèque</Team><Score>2</Score> - <Score>3</Score><Team>Croatie</Team></li>
<li class="match"><Date>2016-06-17 21:00:00</Date><Lieu>Stade de Nice</Lieu><Team>Espagne</Team><Score>3</Score> - <Score>3</Score><Team>Turquie</Team></li>
<li class="match"><Date>2016-06-18 15:00:00</Date><Lieu>Stade de Bordeaux</Lieu><Team>Belgique</Team><Score>1</Score> - <Score>0</Score><Team>Irlande</Team></li>
<li class="match"><Date>2016-06-18 18:00:00</Date><Lieu>Stade Vélodrome</Lieu><Team>Islande</Team><Score>2</Score> - <Score>3</Score><Team>Hongrie</Team></li>
<li class="match"><Date>2016-06-18 21:00:00</Date><Lieu>Parc des Princes</Lieu><Team>Portugal</Team><Score>0</Score> - <Score>2</Score><Team>Autriche</Team></li>
<li class="match"><Date>2016-06-19 21:00:00</Date><Lieu>Stade Pierre Mauroy</Lieu><Team>Roumanie</Team><Score>4</Score> - <Score>0</Score><Team>Albanie</Team></li>
<li class="match"><Date>2016-06-19 21:00:00</Date><Lieu>Stade de Lyon</Lieu><Team>Suisse</Team><Score>1</Score> - <Score>3</Score><Team>France</Team></li>
<li class="match"><Date>2016-06-20 21:00:00</Date><Lieu>Stadium de Toulouse</Lieu><Team>Russie</Team><Score>1</Score> - <Score>4</Score><Team>Pays de Galles</Team></li>
<li class="match"><Date>2016-06-20 21:00:00</Date><Lieu>Stade Geoffroy Guichard</Lieu><Team>Slovaquie</Team><Score>4</Score> - <Score>1</Score><Team>Angleterre</Team></li>
<li class="match"><Date>2016-06-21 18:00:00</Date><Lieu>Stade Vélodrome</Lieu><Team>Ukraine</Team><Score>1</Score> - <Score>1</Score><Team>Pologne</Team></li>
<li class="match"><Date>2016-06-21 18:00:00</Date><Lieu>Parc des Princes</Lieu><Team>Irlande du Nord</Team><Score>1</Score> - <Score>4</Score><Team>Allemagne</Team></li>
<li class="match"><Date>2016-06-21 21:00:00</Date><Lieu>Stade de Bordeaux</Lieu><Team>Croatie</Team><Score>3</Score> - <Score>3</Score><Team>Espagne</Team></li>
<li class="match"><Date>2016-06-21 21:00:00</Date><Lieu>Stade Bollaert-Delelis</Lieu><Team>République Tchèque</Team><Score>1</Score> - <Score>4</Score><Team>Turquie</Team></li>
<li class="match"><Date>2016-06-22 18:00:00</Date><Lieu>Stade de France</Lieu><Team>Hongrie</Team><Score>2</Score> - <Score>4</Score><Team>Portugal</Team></li>
<li class="match"><Date>2016-06-22 18:00:00</Date><Lieu>Stade de Lyon</Lieu><Team>Islande</Team><Score>2</Score> - <Score>2</Score><Team>Autriche</Team></li>
<li class="match"><Date>2016-06-22 21:00:00</Date><Lieu>Stade de Nice</Lieu><Team>Italie</Team><Score>2</Score> - <Score>4</Score><Team>Irlande</Team></li>
<li class="match"><Date>2016-06-22 21:00:00</Date><Lieu>Stade Pierre Mauroy</Lieu><Team>Suède</Team><Score>4</Score> - <Score>1</Score><Team>Belgique</Team></li>
<li class="match"><Date>2016-06-25 15:00:00</Date><Lieu>Stade Geoffroy Guichard</Lieu><Team>Group=A;Rank=2</Team><Score>-</Score> - <Score>-</Score><Team>Group=C;Rank=2</Team></li>
<li class="match"><Date>2016-06-25 18:00:00</Date><Lieu>Parc des Princes</Lieu><Team>Group=C;Rank=1</Team><Score>-</Score> - <Score>-</Score><Team>Group=A/C/D;Rank=3</Team></li>
<li class="match"><Date>2016-06-25 21:00:00</Date><Lieu>Stade Bollaert-Delelis</Lieu><Team>Group=D;Rank=1</Team><Score>-</Score> - <Score>-</Score><Team>Group=B/E/F;Rank=3</Team></li>
<li class="match"><Date>2016-06-26 15:00:00</Date><Lieu>Stade de Lyon</Lieu><Team>Group=A;Rank=1</Team><Score>-</Score> - <Score>-</Score><Team>Group=C/D/E;Rank=3</Team></li>
<li class="match"><Date>2016-06-26 18:00:00</Date><Lieu>Stade Pierre Mauroy</Lieu><Team>Group=C;Rank=1</Team><Score>-</Score> - <Score>-</Score><Team>Group=A/B/F;Rank=3</Team></li>
<li class="match"><Date>2016-06-26 21:00:00</Date><Lieu>Stadium de Toulouse</Lieu><Team>Group=F;Rank=1</Team><Score>-</Score> - <Score>-</Score><Team>Group=E;Rank=2</Team></li>
<li class="match"><Date>2016-06-27 18:00:00</Date><Lieu>Stade de France</Lieu><Team>Group=E;Rank=1</Team><Score>-</Score> - <Score>-</Score><Team>Group=D;Rank=2</Team></li>
<li class="match"><Date>2016-06-27 21:00:00</Date><Lieu>Stade de Nice</Lieu><Team>Group=B;Rank=2</Team><Score>-</Score> - <Score>-</Score><Team>Group=F;Rank=2</Team></li>
<li class="match"><Date>2016-06-30 21:00:00</Date><Lieu>Stade Vélodrome</Lieu><Team>Winner=37</Team><Score>-</Score> - <Score>-</Score><Team>Winner=39</Team></li>
<li class="match"><Date>2016-07-01 21:00:00</Date><Lieu>Stade Pierre Mauroy</Lieu><Team>Winner=38</Team><Score>-</Score> - <Score>-</Score><Team>Winner=42</Team></li>
<li class="match"><Date>2016-07-02 21:00:00</Date><Lieu>Stade de Bordeaux</Lieu><Team>Winner=41</Team><Score>-</Score> - <Score>-</Score><Team>Winner=43</Team></li>
<li class="match"><Date>2016-07-03 21:00:00</Date><Lieu>Stade de France</Lieu><Team>Winner=40</Team><Score>-</Score> - <Score>-</Score><Team>Winner=44</Team></li>
<li class="match"><Date>2016-07-06 21:00:00</Date><Lieu>Stade de Lyon</Lieu><Team>Winner=45</Team><Score>-</Score> - <Score>-</Score><Team>Winner=46</Team></li>
<li class="match"><Date>2016-07-07 21:00:00</Date><Lieu>Stade Vélodrome</Lieu><Team>Winner=47</Team><Score>-</Score> - <Score>-</Score><Team>Winner=48</Team></li>
<li class="match"><Date>2016-07-10 21:00:00</Date><Lieu>Stade de France</Lieu><Team>Winner=49</Team><Score>-</Score> - <Score>-</Score><Team>Winner=50</Team></li></ol>
<!--
<h3>We suggest the following:</h3>
<ol class="round">
    <li class="one">
        <h5>Getting Started</h5>
        ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
        enables a clean separation of concerns and that gives you full control over markup
        for enjoyable, agile development. ASP.NET MVC includes many features that enable
        fast, TDD-friendly development for creating sophisticated applications that use
        the latest web standards.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
    </li>

    <li class="two">
        <h5>Add NuGet packages and jump-start your coding</h5>
        NuGet makes it easy to install and update free libraries and tools.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
    </li>

    <li class="three">
        <h5>Find Web Hosting</h5>
        You can easily find a web hosting company that offers the right mix of features
        and price for your applications.
        <a href="http://go.microsoft.com/fwlink/?LinkId=245157">Learn more…</a>
    </li>
</ol>
-->