@{
    ViewBag.Title = "ResetPassword";
}

<h2>ResetPassword</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <fieldset>
        <span style="color:red;">Votre nouveau mot de passe est : @TempData["Message"]</span>
    </fieldset>
}